body {
    background-image: url("images/abstract-attractive-backdrop-988872.jpg");
    
    font-family: 'Roboto Condensed', sans-serif;

    font-size: 90%;
    margin: 0px;
    
    
}

.navbar {
    background-color: rgb(29, 29, 29);
    
    width: 100vw;
    position: absolute;
    top: 0px;
    
    
}
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    

}
.navbar li a {
    display: block;
    text-decoration: none;
    
    padding: 20px 16px;
    color: white;
    margin-right: 20px; 
    
}
.navbar li a:hover {
    color: black;
    
}
.navbar li {
    float: right; 
  
}
.navbar li:hover {
    background-color: white;
    
}

.navbar img {
    width: 45px;
    height: 45px;
    position: relative;
    top: 3px;
    left: 4px;
    float: left;
}

#sidebar {
    width: 200px;
    height: 100vh;
    border: solid 1px black;
    
}

#sidebar nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
#sidebar nav {
    position: relative;
    top: 40px;
    margin: 10px;
    padding: 10px;
}
#sidebar nav hr {
    width: 150px;

}


/* .topnav {
    background-color: #333;
    overflow: hidden;
    
    width: 100vw;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f2f2f2;
    color: black;
} */